html {
  font-family: sans-serif;
  background-image: url("../background.jpg");
  background-color: grey;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  height: 100%;
}

.title {
  font-size: 100px;
}

.aqua {
  color: aqua;
}

div.titleBlock {
  display: inline-block;
  text-align: center;
  width: 800px;
  height: 120px;
  background-color: rgba(255, 255, 255, 0.3);
}

div.lowerCentre {
  display: inline-block;
  position: absolute;
  top: 20%;
}

.paragraph {
  position: absolute;
  display: inline-block;
  top: 50%; left: 50%;
  text-align: center;
  width: 100%; height: 100%;
  align-content: center;
  align-self: center;
  transform: translateX(-50%) translateY(-50%);
}

div.textBox {
  height: 0;
  padding-bottom: 56.25%;
  position: relative;
  padding: 10px;
  align-self: stretch;
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.165);
  line-height: 25px;
  transform: translateX(-50%) translateY(-50%);
}

.centre {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
